[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
loguru = "*"
py-cord = {extras = ["voice"], version = "*"}
pynacl = "*"
wavelink = "*"
watchpoints = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
