[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
loguru = "*"
py-cord = {extras = ["voice"], version = "*"}
pynacl = "*"
watchpoints = "*"
wavelink = {editable = true, ref = "feature/filters", git = "https://github.com/PythonistaGuild/Wavelink.git"}

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
